<div class="my-header">
  <div class="header-centered">
    <div class="nav-items-left">
      <div class="my-header-title nav-item">{{ title }}</div>
    </div>
    <div class="nav-items-right">
      <div class="nav-item"><input type="text" placeholder="Email" /></div>
      <div class="nav-item"><input type="text" placeholder="Password" /></div>
      <div class="nav-item"><button value="">Sign In</button></div>
    </div>
  </div>
</div>
<div class="my-jumbotron">
  <div class="my-innerjumbotron">
    <div class="my-jumb-title">Hello</div>
    <div class="my-jumb-subtitle">
      Your games and friends in one place. Let's go.
    </div>
    <div class="my-jumb-cta"><button>Learn more &raquo;</button></div>
  </div>
</div>
